# editer
.idea/

# config golangci-lint
.golangci-lint.yaml

# create zip for execuatable file
execuatables/

# mac os
.DS_Store

# mye shell script
sha256.sh

# output test files
assets/image/dstImage.png
assets/image/dstImage.jpeg
assets/image/dstImage.gif
examples/dstImage.png
examples/dstImage.jpeg
examples/dstImage.gif

!.gitkeep
