# editer
.idea/

# config golangci-lint
.golangci-lint.yaml

# create zip for execuatable file
/execuatables/

# mac os
.DS_Store

# output test files
/assets/image/dstImage.png
/assets/image/dstImage.jpeg
/assets/image/dstImage.gif
/examples/dstImage.png
/examples/dstImage.jpeg
/examples/dstImage.gif

# my shell script
sha256.sh

# my article template
/examples/articleTemplate.md

!.gitkeep

