# editer
.idea/

# config golangci-lint
.golangci-lint.yaml

# create zip for execuatable file
execuatables/

# mac os
.DS_Store

# output test files
assets/image/dstImage.png
examples/dstImage.png

!.gitkeep